.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

@media (max-width: 960px) {
  .container {
    margin: 0 10%;
  }
}

@media (max-width: 770px) {
  .container {
    margin: 0 10%;
  }
}
