.col {
  margin-bottom: 20px;
  box-sizing: border-box;
  box-shadow: 0 2px 4px #e4e4e4;
}
.col h4 {
  color: #323232;
}

.col p {
  color: #5c5c5c;
}

.rowH {
  color: #009aa6;
  text-align: center;
  text-transform: uppercase;
}

@media (max-width: 600px) {
  .col {
    margin: 4% !important;
  }
}
